/* Stílusdefiníció: a weboldal alapvető stílusbeállításai*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/*A HTML fájl container osztályársa vonatkozó stílusok definiálása*/
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/background.png.png);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
/*A .navbar (navigációs sáv) stílusainak definiálása */
.navbar{
    height: 12%;
    display: flex;
    align-items: center; 
}
.logo{
    width: 50px;
    cursor: poiner;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
    font-size: 20px;
}
h1{
    color: #fff;
    font-size: 35px;
}
p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #f4e7e7;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
/*A .card osztály stílusai*/
/*A weboldalon látható kártyák szélessége, magassága, és a hozzájuk beállított háttérképek*/
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(images/pic-1.png);
}
.card2{
    background-image: url(images/pic-2.png);
}
.card3{
    background-image: url(images/pic-3.png);
}
.card4{
    background-image: url(images/pic-4.png);
}
/*Ha az egér az egyik kártyára kerül, a kártya 10px-et ugrik felfele - interaktív kártya*/
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #120d0d;
    text-shadow: 0 0 10px #0c0a0a;
    text-align: center;
}
/*A kártyákban lévő szöveg stílusa*/
.card p{
    color: #000;
    text-shadow: 0 0 20px #000;
    font-size: 11px;
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 5px; 
    border-radius: 5px; 
    text-align: center;
    font-weight: bold;
}
